.features {
  width: 100%;
  padding-bottom: 80px;
  border-bottom: 1px solid #000;
}
.features .feat-cards {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}
@media (min-width: 667px) {
  .features .feat-cards {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1280px) {
  .features .feat-cards {
    grid-template-columns: auto auto auto;
    gap: 40px;
  }
}
.feat-card {
  max-width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #222529, #202327);
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 8px;
  transition: 0.4s;
  box-shadow: var(--main-shadow);
  cursor: pointer;
}
@media (min-width: 1024px) {
  .feat-card {
    padding-left: 40px;
  }
}
.feat-card:hover {
  background-image: linear-gradient(to bottom, #000, #1e2024);
  transition: all 2s;
}
.feat-card .feat-card-details {
  display: flex;
  flex-direction: column;
  gap: 35px;
  transform: translateY(30px);
  transition: all 0.4s;
}
.feat-card:hover .feat-card-details {
  transform: translateY(0);
}
.feat-card-details .feat-card-icon {
  color: var(--main-color);
  font-size: 48px;
}
.feat-card-info {
  color: #d1d1d1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.feat-card-info .feat-card-title {
  font-size: 23px;
  font-weight: bold;
  font-family: var(--branch-fontFamily);
}
.feat-card-info .feat-card-des {
  width: 90%;
  font-size: var(--paragraph-size);
  font-weight: 400;
}
